* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
}
.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: hsl(28deg 15% 17%);
  }

  @media (max-width: 700px) {
    .header-container {
        display: block;
    }
}

.home, .nav-link {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h3 {
    margin-right: auto;
}


@media (max-width: 700px) {
    h3 {
        margin: auto;
    }
}

img {
    height: 500px;
    margin: 30px;
    border-radius: 5%;
}

html {
    font-family: sans-serif;
}

/* header */

.nav-list {
display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.do {
    margin: 10px;
    font-size: 30px;
}

h1 {
    font-size: 48px;
}

/* Section-hero */

.section-hero {
    display:flex;
    padding-top: 70px;
}

@media (max-width: 700px) {
    .section-hero {
        display: block;
    }
}

.section-info {
    display: flex;
}

@media (max-width: 700px) {
    .section-info {
        display: block;
    }
}

.section-intro {
    display: flex;
}

@media (max-width: 700px) {
    .section-intro {
        display: block;
    }
}

.intro, .info {
    font-size: 30px;
}


/* Contact */

.contact {
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 20px; */
    background-color: hsl(28deg 15% 17%);

}

.contact h2 {
    text-align: center;
    color: white;
    margin-top: 30px;
}

.form-group {
    margin-left: 30px;
    margin-right: 30px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: white;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width: 50%;
    margin-right: 20px;
}

.row > .formgroup:first-child {
    margin-right: 20px;
}

.submit {
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.submit:hover {
    opacity: 0.9;
}

/* fotter */

.footer-container {
    display: flex;
    background-color: hsl(28deg 15% 17%);
    padding: 10px;
  }
  
  @media (max-width: 700px) {
    .footer-container {
        display: block;
    }
}

.footer-list {
    display: flex;
    margin-left: auto;
    color: white;
}
    
.footer-item {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: auto;
        margin-bottom: auto;
}

.footer-link {
        color: white;
}

.welcome {
    color: white;
    margin-left: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
